
.c1 {
  background-color: #DE8AB4;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c2 {
  background-color: #7ADB86;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c3 {
  background-color: #6184DB;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c4 {
  background-color: #F5405F;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c5 {
  background-color: #5ACDE8;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c6 {
  background-color: #EBB6F5;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c7 {
  background-color: #97DEBD;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c8 {
  background-color: #AAFAF9;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c9 {
  background-color: #E82797;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.c10 {
  background-color:#F2825A;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

#quote-box {
  width: 50%;
  margin: auto;
  margin-top: 25vh;
  padding: 5.5%;
  padding-top: 4.5%;
  padding-bottom: 5vh;
  background-color: #fffafa;
  min-height: 8vh;
}

#the-quote {
  text-align: center;
}

#text {
  font-size: 1.1em;
}

#link-container {
  width: 50%;
  margin: auto;
}

.btn {
  margin-top: -60px;
}


 #credit-div {
  position: fixed;
  bottom: 5px;
  right: 10px;
 }

 #credit-text {
   color: white;
   text-align: right;
   font-size: 0.83em;
 }

.in {
  opacity: 1;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.out {
  opacity: 0;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

#author {
  font-size: 0.95em;
  text-align: left;
  margin-left: 55%;
  margin-top: 1.5em;
}

#tweet {
  float: left;
}

#refresh {
  float: right;
}

@media (max-width: 800px) { 
  #quote-box {
    margin-top: 28vh;
    padding-bottom: 55px;
  }
  
  .btn {
    margin-top: -52px;
  }
 }

 @media (min-width: 1200px) {
   #quote-box {
     width: 600px;
     margin-top: 22vh;
     padding-top: 4%;
   }

   #link-container {
     width: 600px;
   }

   #text {
     font-size: 1.3em;
   }

   #author {
     font-size: 1.05em;
   }
 }

 @media (min-width: 2000px) {
   #text {
     font-size: 1.8em;
   }

   #author {
     font-size: 1.5em;
   }
 }
